<div class="ca-header">
    <div class="date-div">
        <div class="row-date">
            <div class="col-back">
                <img src="img/Back.png" alt="" ng-click="previous()">
            </div>
        </div>
        <div style=" flex: 0 0 50%;max-width: 50%;" class="col-date">
            <div style="display: block; text-transform: capitalize; height: 26px; align-self: flex-start;font-size: 18px;">
                {{month.format("MMMM")}}
            </div>
            <div style="display: block;font-size: 12px;align-self: flex-start;margin-top: -10px;">{{month.format("YYYY")}}</div>
        </div>
        <div class="row-date">
            <div class="col-next">
                <img src="img/Back.png" ng-click="next()" alt="">
            </div>
        </div>
    </div>
    <!--<i class="fa fa-angle-left" ng-click="previous()">&lt;</i>
    <span>{{month.format("MMMM")}}</span>
    </br>
    <span>{{month.format("YYYY")}}</span>
    <i style="margin-top: -40px; margin-left: 0px;" class="fa fa-angle-right" ng-click="next()">&gt;</i>-->
</div>
<div class="week names" style="margin-top: 40px;">
    <span class="day">LU</span>
    <span class="day">MA</span>
    <span class="day">MI</span>
    <span class="day">JU</span>
    <span class="day">VI</span>
    <span class="day">SA</span>
    <span class="day">DO</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day"
          ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), events: day.hasEvents }"
          ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>
