<div class="header">
  <i class="fa fa-angle-left" ng-click="previous()">&lt;</i>
  <span>{{month.format("MMMM, YYYY")}}</span>
  <i class="fa fa-angle-right" ng-click="next()">&gt;</i>
</div>
<div class="week names">
  <span class="day">DO</span>
  <span class="day">LU</span>
  <span class="day">MA</span>
  <span class="day">MI</span>
  <span class="day">JU</span>
  <span class="day">VI</span>
  <span class="day">SA</span>
</div>
<div class="week" ng-repeat="week in weeks">
  <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>