<ion-view>
    <ion-content class="top-margin">
        <div class="list card">

            <div class="item item-avatar">
                <img src="{{contact.photo}}">
                <h2>{{contact.display_name}}</h2>
            </div>

            <div class="item item-body">
                <ion-list>
                    <ion-item ng-if="contact.phone_number && contact.mum_id">
                        Mum: {{contact.phone_number}}
                    </ion-item>
                    <ion-item ng-if="contact.email">
                        Email: {{contact.email}}
                    </ion-item>
                    <ion-item ng-if="contact.phone_number">
                        Teléfono {{contact.phone_number}}
                    </ion-item>
                </ion-list>
                <p ng-if="contact.phone_number && contact.mum_id">
                    <a ng-click="startConversation('mum')"><img src="img/nuevo-mum.png" height="70" width="70" /></a>
                </p>

                <p ng-if="contact.email">
                    <a ng-click="startConversation('email')"><img src="img/nuevo-mail.png" height="70" width="70" /></a>
                </p>

                <p ng-if="contact.phone_number">
                    <a ng-click="startConversation('sms')"><img src="img/nuevo-sms.png" height="70" width="70" /></a>
                </p>

            </div>

        </div>
    </ion-content>
</ion-view>
