<ion-view>
    <ion-content class="top-margin">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="contact in contacts"
                      type="item-text-wrap"
                      href="#">
                <img ng-src="{{contact.photo}}">
                <h2>{{contact.displayName}}</h2>
                <p ng-show="contact.phoneNumber">{{contact.phoneNumber}}</p>
                <p ng-show="contact.email">{{contact.email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>