<ion-view cache-view="false">
    <ion-header-bar class="bar-light bar-subheader" style="margin-top: 12px;">
        <input type="search"
               placeholder="Buscar contacto..."
               ng-model="search">
        <button ng-if="search.length"
                class="button button-icon ion-android-close input-button"
                ng-click="clearSearch()">
        </button>
    </ion-header-bar>
    <ion-content class="top-margin">
        <ion-refresher
          pulling-text="Hale para actualizar..."
          on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      collection-repeat="contact in contacts | filter:search | orderBy:'display_name'"
                      type="item-text-wrap"
                      ng-click="contactDetail(contact)">
                <img ng-src="{{contact.photo}}">
                <h2>{{contact.display_name}}</h2>
                <p ng-show="contact.phone_number">{{contact.phone_number}}</p>
                <p ng-show="contact.email">{{contact.email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
