<ion-view cache-view="false">
    <ion-content class="top-margin">
        <div class="row">
            <div class="col">
                <calendar selected="selected"></calendar>
            </div>
        </div>

        <div class="footer">
            <div class="container p-y-sm">
                <a href="#/content/schedule">
                    <img src="img/nuevo-magenta.png" height="80" width="80" />
                </a>
                <p>NUEVO</p>
            </div>
        </div>
    </ion-content>
</ion-view>