<div class="mum">
  <ion-header-bar style="height: 120px;">
    <div class="header">
      <div class="flex flex-middle-xs">
        <div class="profile">
          <img class="img-circle img-responsive" src="img/profile.jpg" alt="" width="56">
        </div>
        <div class=" flex-xs p-y-xs">
          <img class="img-responsive center-block" src="img/logo-alt.png" alt="" width="208">
        </div>
        <div class="text-right">
          <button class="btn menu-btn" type="button">
            <span class="icon icon-menu"></span>
          </button>
        </div>
      </div>

      <div class="section-header">
        <!--<ul class="section-menu reset-list flex">-->
          <!--<li class="flex-xs"><a href="#/chats">Chat</a></li>-->
          <!--<li class="flex-xs"><a href="#/home">Mum</a></li>-->
          <!--<li class="flex-xs"><a href="#/contacto">Contacto</a></li>-->
        <!--</ul>-->
        <div class="button-bar">
          <a class="button" href="#/chats">Chat</a>
          <a class="button" href="#/home">Mum</a>
          <a class="button" href="#/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="top-margin">
    <div class="row">
      <div class="col">
        <calendar selected="day"></calendar>
      </div>
    </div>

    <div class="footer">
      <div class="container p-y-sm">
        <a class="btn btn-default text-uppercase" href="#">Nuevo mum</a>
      </div>
    </div>
  </ion-content>
</div>