<ion-header-bar style="height: 120px;">
  <div class="row">
    <div class="col col-10">1</div>
    <div class="col">2</div>
    <div class="col col-10">
      <button class="button" ng-click="show()">Edit</button>
    </div>
  </div>
</ion-header-bar>
<div class="bar bar-subheader">
  <div class="row">
    <div class="col">
      <div class="tabs custom-tabs">
        <a class="tab-item" href="#/chats">
          Chat
        </a>
        <a class="tab-item" href="#/home">
          Mum
        </a>
        <a class="tab-item" href="#/contacto">
          Contacto
        </a>
      </div>
    </div>
  </div>
</div>

<ion-content class="topp">
  CALENDAR
</ion-content>