<div class="modal image-modal transparent">
    <ion-pane class="transparent">
        <div class="row">
            <div class="col">
                <img ng-src="{{imageSrc.replace('http://188.138.127.53/mum/framework/web', 'http://mum.icox.com').replace('_mini', '')  }}" class="fullscreen-image"/>
            </div>
        </div>
        <div class="row">
            <div class="col" ng-hide="!isReceived">
                <button class="button button-small button-mum" ng-click="proccessImage()">
                    Ver
                </button>
            </div>
            <div class="col">
                <button class="button button-small button-mum" ng-click="closeModal()">
                    Cancelar
                </button>
            </div>
        </div>
    </ion-pane>
</div>