<ion-view>
    <ion-content class="top-margin">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats"
                      type="item-text-wrap"
                      ng-click="open(chat)">
                <img ng-src="{{chat.image}}">

                <h2>{{chat.name}}</h2>

                <p>{{chat.lastText}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Borrar
                </ion-option-button>
            </ion-item>

        </ion-list>
        <h3 ng-show="!chats.length">No hay conversaciones.</h3>
    </ion-content>
</ion-view>
