<ion-view>
    <ion-content class="top-margin">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="conversation in conversations"
                      type="item-text-wrap"
                      ng-click="open(conversation)"
                      on-hold="deleteConversation(conversation)"
                      ng-class="{'unread-conversation': conversation.isUnread}">
                <img ng-src="{{conversation.image ? conversation.image : 'img/person.png'}}">

                <h2>{{conversation.displayName}}</h2>

                <p ng-class="{'bg-msg-mail': conversation.type == 'email', 'bg-msg-mum': conversation.type == 'mum', 'bg-msg-sms': conversation.type == 'sms'}">
                    {{conversation.lastMessage}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-mum" ng-click="deleteConversation(conversation)">
                    Borrar
                </ion-option-button>
            </ion-item>

        </ion-list>
        <h3 ng-show="!conversations.length">Aquí verá las conversaciones.</h3>
    </ion-content>
</ion-view>
