<div class="mum">
    <ion-header-bar style="height: 120px;">
        <div class="header">
            <div class="flex flex-middle-xs" style="background: #FFFFFF url('img/logo-alt.png') no-repeat scroll center;">
                <div class="profile">
                    <img class="img-circle img-responsive" src="img/bell.png" alt="" width="35">
                </div>
                <div class=" flex-xs p-y-xs">
                </div>
                <div class="text-right">
                    <!--<button class="btn menu-btn" type="button">-->
                    <div class="top-menu" ng-click="showMenu()"><span class="icon icon-menu"></span></div>
                    <!--</button>-->
                </div>
            </div>

            <div class="section-header">
                <div class="button-bar">
                    <a class="button" href="#/content/home">Calendario</a>
                    <a class="button" href="#/content/inbox">Bandeja</a>
                    <a class="button" href="#/content/contacts">Contactos</a>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-nav-view></ion-nav-view>
</div>