<div class="mum">
  <ion-header-bar style="height: 120px;">
    <div class="header">
      <div class="flex flex-middle-xs">
        <div class="profile">
          <img class="img-circle img-responsive" src="img/profile.jpg" alt="" width="56">
        </div>
        <div class=" flex-xs p-y-xs">
          <img class="img-responsive center-block" src="img/logo-alt.png" alt="" width="208">
        </div>
        <div class="text-right">
          <!--<button class="btn menu-btn" type="button">-->
          <div class="top-menu"><span class="icon icon-menu"></span></div>
          <!--</button>-->
        </div>
      </div>

      <div class="section-header">

      </div>
    </div>
  </ion-header-bar>
  <ion-content class="top-margin">
    <div style="font-size: medium">
      <div class="container text-center">
        <div class="calendar">
          <div class="calendar-month flex flex-middle-xs">
            <div class="flex-xs">
              <button type="button" class="btn clear-btn">
                <span class="icon icon-pointer-left"></span>
              </button>
            </div>
            <div class="flex-xs">
              <span class="text-uppercase">Mayo 2015</span>
            </div>
            <div class="flex-xs">
              <button type="button" class="btn clear-btn">
                <span class="icon icon-pointer-right"></span>
              </button>
            </div>
          </div>

          <div class="calendar-days flex flex-middle-xs">
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">12</span>
              <span class="day-label">Dom</span>
            </button>
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">13</span>
              <span class="day-label">Lun</span>
            </button>
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">14</span>
              <span class="day-label">Mar</span>
            </button>
            <button class="calendar-day active clear-btn flex-xs" type="button">
              <span class="day-number">15</span>
              <span class="day-label">Mie</span>
            </button>
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">16</span>
              <span class="day-label">Jue</span>
            </button>
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">17</span>
              <span class="day-label">Vie</span>
            </button>
            <button class="calendar-day clear-btn flex-xs" type="button">
              <span class="day-number">18</span>
              <span class="day-label">Sab</span>
            </button>
          </div>
        </div>

        <div class="timer">
          <button type="button" class="btn clear-btn">
            <span class="icon icon-pointer-up"></span>
          </button>

          <input class="form-control" type="text" id="" value="10:00 AM">

          <button type="button" class="btn clear-btn">
            <span class="icon icon-pointer-down"></span>
          </button>
        </div>

        <div class="row">
          <div class="col"><a class="button">Mum</a></div>
          <div class="col"><a class="button">Sms</a></div>
          <div class="col"><a class="button">Mail</a></div>
        </div>

      </div>
    </div>
  </ion-content>
</div>