<ion-view>
    <ion-header-bar align-title="center" class="bar-mum">
        <div class="buttons">
            <a href="#/content/schedule" class="button icon-left ion-chevron-left"></a>
        </div>
        <h1 class="title">Seleccionar contacto</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      collection-repeat="contact in contacts | orderBy:'display_name'"
                      ng-click="pickContact(contact)"
                      type="item-text-wrap">
                <img ng-src="{{contact.photo}}">
                <h2>{{contact.display_name}}</h2>
                <p ng-show="contactsType != 'email' && contact.phone_number">{{contact.phone_number}}</p>
                <p ng-show="contactsType == 'email' && contact.email">{{contact.email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(contact)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>