<ion-view>
    <ion-header-bar align-title="center" class="bar-mum">
        <div class="buttons">
            <a href="#/content/schedule" class="button icon-left ion-chevron-left"></a>
        </div>
        <h1 class="title">
            Seleccionar contacto</h1>
    </ion-header-bar>
    <ion-content>
        <div style="margin: 5px">
            <input type="search" sty
                   placeholder="Buscar contacto..."
                   style="width: 95%"
                   ng-model="search">
            <button ng-if="search.length" style="top: -4px !important;"
                    class="button button-icon ion-android-close input-button"
                    ng-click="clearSearch()">
            </button>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      collection-repeat="contact in contacts | filter:search | orderBy:'display_name'"
                      ng-click="pickContact(contact)"
                      type="item-text-wrap">
                <img ng-src="{{contact.photo}}">
                <h2 style="text-align: left">{{contact.display_name}}</h2>
                <p style="text-align: left" ng-show="contactsType != 'email' && contact.phone_number">{{contact.phone_number}}</p>
                <p style="text-align: left" ng-show="contactsType == 'email' && contact.email">{{contact.email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(contact)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
