<ion-view>
    <ion-content class="top-margin">
        <div style="font-size: medium">
            <div class="container text-center">
                <div class="calendar">
                    <div class="calendar-month flex flex-middle-xs">
                        <div class="date-div">
                            <div class="row-date">
                                <div class="col-back" style="top: 8px!important;">
                                    <!--<img src="img/Back.png" alt="" ng-click="monthDown()">-->
                                    <a ng-click="monthDown()" style="text-decoration: none;font-size: 18px;color: #E44D76;">
                                        <i class="icon ion-chevron-left" style="position: absolute;font-size: 30px;top: -7px;"></i>
                                        <span style="margin-left: 17px;font-size: 16px;">Back</span>
                                    </a>
                                </div>
                            </div>
                            <div style=" flex: 0 0 50%;max-width: 50%;" class="col-date">
                                <div style="display: block; text-transform: capitalize; height: 26px; align-self: flex-start;font-size: 18px;">
                                    {{fecha.format("MMMM")}}
                                </div>
                                <div style="display: block;font-size: 12px;align-self: flex-start;margin-top: -10px;">{{fecha.format("YYYY")}}</div>
                            </div>
                            <div class="row-date">
                                <div class="col-next" style="top: 8px!important;">
                                    <!--<img src="img/Back.png" ng-click="monthUp()" alt="">-->
                                    <a ng-click="monthUp()" style="text-decoration: none;font-size: 18px;color: #E44D76;">
                                        <i class="icon ion-chevron-right" style="position: absolute;font-size: 30px;top: -7px;right: -1px;"></i>
                                        <span style="margin-right: 15px;font-size: 16px;">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="flex-xs">
                            <button type="button" class="btn clear-btn" ng-click="monthDown()">
                                <span class="icon icon-pointer-left"></span>
                            </button>
                        </div>
                        <div class="flex-xs">
                            <span class="text-uppercase">{{fecha.format("MMMM, YYYY")}}</span>
                        </div>
                        <div class="flex-xs">
                            <button type="button" class="btn clear-btn" ng-click="monthUp()">
                                <span class="icon icon-pointer-right"></span>
                            </button>
                        </div>-->
                    </div>

                    <ion-scroll zooming="false" direction="x" class="wide-as-needed" delegate-handle="vscroll">
                        <div class="calendar-days flex flex-middle-xs" style="width: 1700px;">
                            <button class="calendar-day clear-btn flex-xs" type="button"
                                    ng-repeat="day in getMaxDay() track by $index"
                                    ng-class="{active: ($index+1)==fecha.date()}"
                                    ng-click="changeDay($index)">
                                <span class="day-number">{{$index + 1}}</span>
                                <span class="day-label">{{calculateWeekDay($index + 1)}}</span>
                            </button>
                        </div>
                    </ion-scroll>
                </div>
                <!--{{fecha.format("dddd, D")}}-->
                <div class="timer">
                    <button type="button" class="btn clear-btn" ng-click="timeUp()">
                        <span class="icon icon-pointer-up"></span>
                    </button>
                    <ionic-timepicker input-obj="timePickerObject">
                        <input class="form-control" type="text" id="" ng-model="selectedTime"
                               input-obj="timePickerObject"/>
                    </ionic-timepicker>
                    <button type="button" class="btn clear-btn" ng-click="timeDown()">
                        <span class="icon icon-pointer-down"></span>
                    </button>
                </div>


                <div class="row">
                    <div class="col">
                        <a ng-click="newSchedule('mum')"><img src="img/nuevo-mum.png" height="70" width="70" /></a>
                    </div>
                    <!--<div class="col">-->
                        <!--<a ng-click="newSchedule('sms')"><img src="img/nuevo-sms.png" height="70" width="70" /></a>-->
                    <!--</div>-->
                    <div class="col">
                        <a ng-click="newSchedule('email')"><img src="img/nuevo-mail.png" height="70" width="70" /></a>
                    </div>
                </div>
                <div>Programado para: {{fecha.format("dddd, D MMMM YYYY, HH:mm")}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
