<div class="mum">
    <ion-content>
        <div class="row">
            <div class="col-33">
                <div class="row">
                    <div class="col">
                        <a href="#/content/schedule/details/{{date}}" class="button button-icon ion-chevron-left"
                           style="right: 15px"></a>
                    </div>
                    <div class="col">
                        <img class="img-circle-avatar m-r-xs"
                             ng-src="{{message.image.replace('http://188.138.127.53/mum/framework/web', 'http://mum.icox.com') ? message.image.replace('http://188.138.127.53/mum/framework/web', 'http://mum.icox.com') : 'img/person.png'}}"
                              >
                    </div>
                </div>
            </div>
            <div class="col-66 col-center" style="text-align: left;">
                {{message.display_name}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="text-primary">Programado {{message.at}}
                </span>
                <a ng-click="editDate(message)" style="text-decoration: none;font-size: 18px;color: #E44D76;position: relative;right: -25px">
                    <span style="margin-right: 8px;font-size: 16px;">Edit</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-primary">Destinatario {{message.display_name}}
                    <span ng-show="message.type == 'mum'">({{message.receivers}})</span>
                    <span ng-show="message.type == 'email'">({{message.receivers}})</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form class="form-paper">
                    <div class="form-group flex flex-middle-xs" ng-show="message.type == 'email'">
                        <label>Asunto:</label>
                        <div class="flex-xs">
                            <input type="text" class="form-control" style="width:90%;" ng-model="message.about"/>
                        </div>
                    </div>
                    <div class="form-group flex flex-middle-xs" ng-show="message.type == 'email'">
                        <label>De:</label>
                        <div class="flex-xs">
                            <input type="email" class="form-control" style="width:90%;" ng-model="message.from_address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" style="width: 100%" ng-model="message.body" value="{{message.body}}"></textarea>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="item assertive" ng-click="updateMessage()">
                    Editar
                </a>
            </div>
        </div>
    </ion-content>
</div>