<div class="mum">
    <ion-content>
        <div class="row">
            <div class="col-33">
                <div class="row">
                    <div class="col">
                        <a href="#/content/schedule/details/{{date}}" class="button button-icon ion-chevron-left"></a>
                    </div>
                    <div class="col">
                        <img class="img-circle m-r-xs" src="img/person.png" style="border-radius: 50%;" alt="" width="56">
                    </div>
                </div>
            </div>
            <div class="col-66 col-center" style="text-align: left;">
                {{message.display_name}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-primary">Programado {{message.at}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-primary">Destinatario {{message.display_name}}
                    <span ng-show="message.type == 'mum'">({{message.receivers}})</span>
                    <span ng-show="message.type == 'email'">({{message.receivers}})</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form class="form-paper">
                    <div class="form-group flex flex-middle-xs" ng-show="message.type == 'email'">
                        <label>Asunto:</label>
                        <div class="flex-xs">
                            <input type="text" class="form-control" style="width:90%;" ng-model="message.about" ng-readonly="true"/>
                        </div>
                    </div>
                    <div class="form-group flex flex-middle-xs" ng-show="message.type == 'email'">
                        <label>De:</label>
                        <div class="flex-xs">
                            <input type="email" class="form-control" style="width:90%;" ng-model="message.from_address" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" style="width: 100%" ng-model="message.body" ng-readonly="true" value="{{message.body}}"></textarea>
                    </div>
                </form>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col">-->
                <!--<button style="font-size: 28px; color:gray" class="button button-icon ion-android-send" ng-click="sendMessage()"></button>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</div>