<ion-view can-swipe-back="false">
    <ion-content class="splash" >
        <div class="mum" style="display: table; position: absolute; height: 100%; width: 100%;">
            <div class="row">

                <div class="row row-content">
                    <div class="col ">
                        <img class="logo-splash" src="img/log-splash.png" alt="" />
                        <h1 class="m-y-sm h1-splash">¡Bienvenidos a Mum!</h1>
                        <p class="p-splash">Una aplicación para intercambiar <br/> mensajes con todo el mundo.</p>
                    </div>
                </div>

                <div class="col">
                    <div class="splash-footer">
                        <div class="container p-y-sm">
                            <div class="row row-no-padding">
                                <div class="col">
                                    <p>
                                        <a href="#/verify" class="button button-verify">Aceptar y continuar</a>
                                    </p>
                                </div>
                            </div>
                            <p><a class="term" href="#/">Términos y Condiciones</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
