<ion-view can-swipe-back="false">
    <ion-content>
        <div class="mum" style="display: table;
    position: absolute;
    height: 100%;
    width: 100%;">
            <div class="splash"  class="row" style="display: table-cell;
    vertical-align: middle;">

                <div class="row">
                    <div class="col "><img src="img/logo.png" alt="" width="90"/>
                        <h1 class="m-y-sm h1-splash">¡Bienvenidos a Mum!</h1>
                        <p class="" style="font-size: large; margin: 0 15px 0 15px">Una aplicación para intercambiar <br />mensajes con todo el mundo.</p></div>
                </div>

                <div class="splash-footer">
                    <div class="container p-y-sm">
                        <div class="row padding">
                            <div class="col"><p><a href="#/verify" class="button button-block button-gray-mum">Aceptar y continuar</a>
                            </p></div>
                        </div>
                        <p><a class="link" href="#/verify" style="font-size: large">Términos y Condiciones</a></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>