<ion-view can-swipe-back="false">
    <div class="mum">
        <ion-header-bar>
            <div class="header">
                <div class="header-bar">
                    <div class="container">
                        <h1 class="header-title">Verifica tu número</h1>
                    </div>
                </div>
            </div>
        </ion-header-bar>
        <ion-content style="margin-top: 64px;">
            <div ng-show="toVerify == 0">
                <div class="row">
                    <div class="col">
                        <p>Mum enviará un mensaje SMS para verificar tu número telefónico.</p>
                        <p>Confirma tu código de país e introduce tu número telefónico.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <select style="width: 95%;border: none" class="item item-select" ng-model="select.selectedOption"
                                    ng-options="'+' + item.phone_code + ' ' + item.nombre for item in select.availableOptions track by item.iso2"></select>
                        </label>
                        <label class="item item-input">
                            <input type="tel" class="mum-input" placeholder="Número telefónico" ng-model="data.phone">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" ng-click="sendCode()" class="button button-small button-stable">Aceptar</a>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col">
                        <a href="#" class="link" ng-click="haveCode(1)">Ya tengo un código</a>
                    </div>
                </div>
            </div>

            <div ng-show="toVerify == 1">
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="tel" placeholder="Código" ng-model="data.code"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Ingrese el código que recibió por SMS</p>
                    </div>
                </div>
                <div class="row" ng-hide="inProcess == 1">
                    <div class="col">
                        <a href="#" ng-click="verifyCode()" class="button button-small button-stable">Confirmar</a>
                    </div>
                </div>
                <br/><br/>
                <div class="row" ng-hide="inProcess == 1">
                    <div class="col">
                        <a href="#" class="link" ng-click="haveCode(0)">Deseo solicitar un código</a>
                    </div>
                </div>

                <div class="row" ng-show="inProcess == 1">
                    <div class="col">
                        Verificando...<br>
                        <ion-spinner icon="lines"></ion-spinner>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>
