<div class="mum">
  <ion-header-bar>
    <div class="header">
      <div class="header-bar">
        <div class="container">
          <h1 class="header-title">Verifica tu número</h1>
        </div>
      </div>
    </div>
  </ion-header-bar>
  <ion-content class="top-margin">
    <div class="row">
      <div class="col">
        <p>Mum enviará un mensaje SMS para verificar tu número telefónico.</p>
        <p>Confirma tu código de país e introduce tu número telefónico.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container p-y-sm">
        <form class="form-general">
          <div class="form-group text-right m-b-0">
            <div class="flex flex-middle-xs">
              <div class="flex-xs-1">
                +
              </div>
              <div class="flex-xs-2">
                <label class="item-input-wrapper">
                <input type="tel"  placeholder=""></label>
              </div>
              <div class="flex-xs">
                <label class="item-input-wrapper">
                <input type="tel" placeholder=""></label>
              </div>
              <div class="flex-xs-2 text-left">
                <!--<a href="#/home">-->
                  <!--<button class="btn btn-default text-uppercase" type="submit">Ok</button>-->
                <!--</a>-->
                <a href="#/home" class="button button-small button-stable">
                  Ok
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</div>

