angular.module('app')
    .constant("SERVER_CONF", {
        "HOST": "http://192.168.1.104/app_dev.php/",
        "API_HOST": "http://192.168.1.104/app_dev.php/api/v1/"
    })
    .constant("OAUTH_CONF", {
        "OAUTH_HOST": "http://192.168.1.104/app_dev.php/oauth/v2/",
        "CLIENT_ID": "56848ba238161_2ycvebtvse4g8cs84s44kcog40ckwgscc480cgo80kcoowkwso",
        "CLIENT_SECRET": "2t27ugiufckkckk0sokkogw448gc04s44swskgcwog008owggg",
        REFRESH_INTERVAL: 600000
    });
