angular.module('app')
    .constant("APP_STORE_CONF", {
        webStore: false
    })
    .constant("DATETIME_FORMAT_CONF", {
        dateTimeFormat : "YYYY-MM-DD HH:MM:SS"
    })
    .constant("SERVER_CONF", {
        HOST: "http://mum.icox.com/",
        API_HOST: "http://mum.icox.com/api/v1/"
    })
    .constant("OAUTH_CONF", {
        OAUTH_HOST: "http://mum.icox.com/oauth/v2/",
        CLIENT_ID: "57472c5b61ed2_39s30p1dq2o0k8wogggkwwco4gkwos0048cwwog4k80wkk8cok",
        CLIENT_SECRET: "20rzootkf4xwow08s80sgg4ckw0ksowk88sog808w0gkgcwo0o",
        REFRESH_INTERVAL: 600000
    });
