/*CSS CALENDAR*/
calendar {
    /*float: left;*/
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    /*border: solid 1px #ccc;*/
    /*margin-bottom: 10px;*/
    margin: 0 auto;
    text-align: center;
    font-size: larger;
}

@media (min-width: 0px) and (max-width: 512px) {
    calendar {
        width: 300px;
    }
}

@media (min-width: 512px) and (max-width: 1024px) {
    calendar {
        width: 450px;
    }
}

@media (min-width: 1024px) {
    calendar {
        width: 800px;
    }
}

calendar > div.ca-header {
    float: left;
    width: 100%;
    background: white;
    height: 40px;
    color: gray;
}

calendar > div.ca-header > * {
    height: 40px;
    line-height: 40px !important;
    display: inline-block;
    vertical-align: middle;
}

calendar > div.ca-header > i {
    float: left;
    width: 40px;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
}

calendar > div.ca-header > i.fa-angle-left {
    text-align: left;
}

calendar > div.ca-header > i.fa-angle-right {
    text-align: right;
    margin-left: -40px;
}

calendar > div.ca-header > span {
    float: left;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 50px;
    margin-left: -40px;
    text-align: center;
    padding-right: 40px;
    color: inherit;
}

calendar > div.week {
    float: left;
    width: 100%;
    /*border: solid 1px #CCC;*/
}

calendar > div.week:first-child {
    border-top: none;
}

calendar > div.week > span.day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*border-left: solid 1px #CCC;*/
    font-size: 0.75em;
    text-align: center;
    height: 30px;
    line-height: 30px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}

calendar > div.week > span.day:first-child {
    border-left: none;
}

calendar > div.week > span.day.today {
    background: #E3F2FF;
}

calendar > div.week > span.day.events {
    color: indianred !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

calendar > div.week > span.day.different-month {
    color: #C0C0C0;
}

calendar > div.week > span.day.selected {
    background: indianred !important;
    color: white !important;
}

div.week.names > span {
    color: darkred;
    font-weight: bold;
}