/* Empty. Add your own CSS if you like */
.mum-init {
    text-align: center;
}

.mum-init-bg {
    background: url(../img/background-mum.png) repeat center;
}

.mum-input {
    background: #eee;
}

@media screen
and (orientation: portrait) {
    .mum-init-start {
        margin-top: 50%;
    }

    .mum-verify {
        padding-top: 50%;
    }
}

@media screen
and (orientation: landscape) {
    .mum-init-start {
        width: 100%;
        height: 50px;
    }

    .mum-verify {
        padding-top: 20%;
    }
}

.custom-tabs {
    position: relative;
!important;
}

.top-margin {
    margin-top: 105px;
}

.top-margin-s {
    margin-top: 65px;
}

.top-margin-l {
    margin-top: 165px;
}

.h1-splash {
    color: rgb(115, 123, 130);
    font-family: Roboto sans-serif;
}

.top-menu {
    height: 100px;
    background-color: #f8f8f8;
    line-height: 100px;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

.bg-msg-mail {
    background: url('../img/nuevo-mail.png') no-repeat left top;
    background-size: 20px 20px;
}

.bg-msg-mum {
    background: url('../img/nuevo-mum.png') no-repeat left top;
    background-size: 20px 20px;
}

.bg-msg-sms {
    background: url('../img/nuevo-sms.png') no-repeat left top;
    background-size: 20px 20px;
}

.unread-conversation {
    border: 3px solid darkred;
    font-weight: bold;
}

.circle {
    width: 18px;
    height: 18px;
    background: #CD4B5B;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 15px;
    left: 35px;
}

/** CUSTOM BUTTON AND BAR DESIGN **/
.bar.bar-mum {
    border-color: #C83960;
    background-color: #FB4B77;
    background-image: linear-gradient(0deg, #FB4B77, #FB4B77 50%, transparent 50%);
    color: #fff;
}

.bar-mum .button {
    border-color: #C83960;
    background-color: #FB4B77;
    color: #fff;
}

.bar.bar-mum .title {
    color: #fff;
}

.button.button-mum.button-outline {
    border-color: #C83960;
    background: transparent;
    color: #FB4B77
}

.button.button-mum {
    border-color: #C83960;
    background-color: #FB4B77;
    color: #FFFFFF;
}

.button-gray-mum {
    background-color: #979797;
    color: #FFFFFF;
    font-size: x-large;
!important;
    min-height: 40px;
}

/* CUSTOM ACTION SHEET DESIGN */
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #C83960;
}

.platform-android .action-sheet .button.destructive {
    color: #FB4B77;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}

.message-date {
    font-size: 9px;
    font-style: italic;
    position: absolute;
    top: 30px;
}

.message-date-in {
    left: 10px;
}

.message-date-out {
    right: 10px;
}