/* Empty. Add your own CSS if you like */
.mum-init {
    text-align: center;
}

.mum-init-bg {
    background: url(../img/background-mum.png) repeat center;
}

.mum-input {
    background: #eee;
}
.logo-splash {
  width: 140px;
}

@media screen
and (orientation: portrait) {
    .mum-init-start {
        margin-top: 50%;
    }

    .mum-verify {
        padding-top: 50%;
    }

    .row-content {
        margin-top: 25%;
    }
}

@media screen
and (orientation: landscape) {
    .mum-init-start {
        width: 100%;
        height: 50px;
    }

    .mum-verify {
        padding-top: 20%;
    }
}

.custom-tabs {
    position: relative;
!important;
}

.top-margin {
    margin-top: 10px;
}

.top-margin-s {
    margin-top: 65px;
}

.top-margin-l {
    margin-top: 165px;
}

.h1-splash {
    color: #fff;
    font-family: Roboto sans-serif;
    font-size: 25px!important;
    margin-bottom: 5px!important;
    margin-top: 15px;
    font-weight: 700;
}

.top-menu {
    height: 100px;
    background-color: #f8f8f8;
    line-height: 100px;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

.bg-msg-mail {
    background: url('../img/nuevo-mail.png') no-repeat left top;
    background-size: 20px 20px;
}

.bg-msg-mum {
    /*background: url('../img/nuevo-mum.png') no-repeat left top;*/
    /*background-size: 20px 20px;*/
}

.bg-msg-sms {
    background: url('../img/nuevo-sms.png') no-repeat left top;
    background-size: 20px 20px;
}

.unread-conversation {
    /*border: 3px solid darkred;*/
    font-weight: bold;
}

.circle {
    width: 18px;
    height: 18px;
    background: #CD4B5B;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 15px;
    left: 35px;
}

/** CUSTOM BUTTON AND BAR DESIGN **/
.bar.bar-mum {
    border-color: #C83960;
    background-color: #FB4B77;
    background-image: linear-gradient(0deg, #FB4B77, #FB4B77 50%, transparent 50%);
    color: #fff;
}

.bar-mum .button {
    border-color: #C83960;
    background-color: #FB4B77;
    color: #fff;
}

.bar.bar-mum .title {
    color: #fff;
}

.button.button-mum.button-outline {
    border-color: #C83960;
    background: transparent;
    color: #FB4B77
}

.button.button-mum {
    border-color: #C83960;
    background-color: #FB4B77;
    color: #FFFFFF;
}

.button-gray-mum {
    background-color: #979797;
    color: #FFFFFF;
    font-size: x-large;
!important;
    min-height: 40px;
}

/* CUSTOM ACTION SHEET DESIGN */
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #C83960;
}

.platform-android .action-sheet .button.destructive {
    color: #FB4B77;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}

.message-date {
    font-size: 9px;
    font-style: italic;
    /*position: absolute;*/
}

.message-date-in {
    left: 10px;
    top: 30px;
}

.message-date-out {
    right: 10px;
    top: 30px;
}

.message-date-in-img {
    left: 10px;
    bottom: 5px;
}

.message-date-out-img {
    right: 10px;
    bottom: 5px;
}

/*Image modal*/
.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

@media (orientation: portrait) {
    .fullscreen-image {
        max-width: 80%;
        height: auto;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        /*position: fixed;*/
        right: 0;
        top: 0;
    }

    .row-content {
        margin-top: 25%;
    }
}

@media (orientation: landscape) {
    .fullscreen-image {
        max-width: 60%;
        height: auto;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        /*position: fixed;*/
        right: 0;
        top: 0;
    }
}


/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.p-splash {
    font-size: 16px;
    margin: 0 15px;
    font-weight: 700;
    color: #FFF;
}

.button-verify {
    background-color: rgba(255,255,255,.3);
    width: 85%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.term {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.term:active {
    color: gainsboro;
}

.layout-header {
    background: url(../img/Logo-header.png) no-repeat scroll center;
}


.img-bell {
    transform: rotate(22deg);
    width: 30px;
    margin-top: 10px;
}


.img-gear {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}


.calendar>div.ca-header {

}

.mum-pendings {
    background-color: #E44D76;
}


.mum-pendings-text {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}


calendar>div.week>span.day.events{
    color: #000 !important;
    font-weight: normal !important;
    font-size: 20px !important;
}

calendar>div.week>span.day {
    height: 40px!important;
}

.date-div {
    width: 100%!important;
    max-width: 720px!important;
    display: flex!important;
}

.row-date {
    flex: 1!important;
}

.col-back {
    align-self: center!important;
    position: absolute!important;
    top: 20px!important;
    left: 5px!important;
}

.col-next {
    align-self: center!important;
    position: absolute!important;
    top: 20px!important;
    right: 5px!important;
}

.col-date {

}

.button-footer {
    text-decoration: none!important;
}

.counter-mum {
    position: relative!important;
    bottom: 54px!important;
    left: 28px!important;
    color: #fff!important;
    font-size: 12px!important;
}
.list-sms-counter {
    right: 40px!important;
    background-color: #E44D76!important;
    width: 20px!important;
    height: 20px!important;
    top: 28px!important;
    border-radius: 50%!important;
}

.pendings-footer {
    position: fixed;
    left: 0px;
    bottom: 10%;
    width: 100%;
}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
    .counter-mum {
        position: relative!important;
        bottom: 54px!important;
        left: 28px!important;
        color: #fff!important;
        font-size: 13px!important;
    }

    .pendings-footer {
        bottom: 11%;
    }
}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 375/667) {
    .counter-mum {
        position: relative!important;
        bottom: 53px!important;
        left: 28px!important;
        color: #fff!important;
        font-size: 13px!important;
    }

    .pendings-footer {
        bottom: 9.5%;
    }
}

/*iPhone 6 Plus:*/
@media only screen
and (min-device-width: 412px)
and (max-device-width: 732px)
and (orientation: portrait) {
    .counter-mum {
        position: relative!important;
        bottom: 34px!important;
        right: 16px!important;
        color: #fff!important;
        font-size: 12px!important;
        left: initial!important;
    }

    .pendings-footer {
        bottom: 9%;
    }
}

/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {
    .counter-mum {
        position: relative!important;
        bottom: 34px!important;
        right: 16px!important;
        color: #fff!important;
        font-size: 12px!important;
        left: initial!important;
    }

    .pendings-footer {
        bottom: 9.5%;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    .counter-mum {
        position: relative!important;
        bottom: 33px!important;
        right: 16px!important;
        color: #fff!important;
        font-size: 12px!important;
        left: initial!important;
    }

    .pendings-footer {
        bottom: 6.5%;
    }
}
